.banner-media{
    background-color: rgb(254, 213, 1);
}

.banner-media > .container{
    padding: 0;
}

.carousel-inner{
    height: 44px;
}

.carousel-item{
    cursor: pointer;
}

.carousel-item > img{
    height: 44px;
    width: 100%;
}

.carousel-control-next, .carousel-control-prev{
    width: 10%;
}

.carousel-control-next > i, .carousel-control-prev > i{
    color: #666;
    font-size: 40px;
}

.carousel-control-next:hover > i, .carousel-control-prev:hover > i{
    color: #fff;
}