.big-campaign{
    position: relative;
    margin-top: -100px;
    margin-bottom: 16px;
}

.big-campaign__button-pre{
    left: -18px;
}

.big-campaign__button-next{
    right: -18px;
}

.swiper-pagination{
    display: none;
}

@media only screen and (max-width: 1400px) {
    .big-campaign{
        margin-top: -80px;
    }

    .big-campaign .slide-img-core{
        height: 160px;
    }
}

@media only screen and (max-width: 1200px) {
    .big-campaign{
        margin-top: -68px;
    }

    .big-campaign .slide-img-core{
        height: 120px;
    }
}

@media only screen and (max-width: 992px) {
    .big-campaign{
        margin-top: -104px;
    }

    .big-campaign .slide-img-core{
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .big-campaign{
        margin-top: -100px;
    }

    .big-campaign .slide-img-core{
        height: 160px;
    }
}

@media only screen and (max-width: 576px) {
    .big-campaign{
        margin-top: -280px;
    }

    .big-campaign .slide-img-core{
        height: 140px;
    }

    .big-campaign__button-next,
    .big-campaign__button-pre{
        display: none;
    }

    .big-campaign__dot{
        display: block;
    }
}