.cate-feature{
    display: block;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.cate-feature__body{
    display: flex;
    flex-wrap: wrap;
    height: 248px;
    gap: 12px;
    padding: 0 20px 32px;
    overflow: hidden;
}

.cate-feature__item{
    flex: 1;
    max-width: 10%;
    height: calc((100% - 30px) / 2) !important;
}

.cate-feature__item > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 112px;
    color: #333;
    overflow: hidden;
}

.cate-feature__item-img > img{
    display: block;
    height: 60px;
    margin: auto;
    width: auto;
}

.cate-feature__item-name{
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 0 4px;
}

@media only screen and (max-width: 1200px) {
    .cate-feature__item{
        min-width: 12%;
    }
}

@media only screen and (max-width: 992px) {
    .cate-feature__item{
        min-width: 16%;
    }
}

@media only screen and (max-width: 768px) {
    .cate-feature__item{
        min-width: 24%;
    }
}

@media only screen and (max-width: 576px) {
    .cate-feature__item{
        min-width: 33.33%;
    }
    .cate-feature{
        border-radius: 0;
        margin-bottom: 0;
    }
}




