.daily-sg{
    display: block;
    margin-bottom: 16px;
    border-radius: 12px;
}

.daily-sg > .home-categories__title > strong{
    padding: 16px 0px;
}

.option-daily-sg{
    justify-content: space-between;
}

.option-daily-sg > li{
    display: block;
    width: 22%;
}

.option-daily-sg__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* height: 72px; */
    width: 100%;
    padding: 10px 8px;
    background: #fff;
    border-radius: 8px;
    vertical-align: middle;
    border: none;
   
}

.option-daily-sg__btn.active{
    background: linear-gradient(64.85deg,#fca600 23.67%,#ffd41d 106.12%);
}

.option-daily-sg__btn > img{
    width: 50px;
    height: auto;
}

.option-daily-sg__btn.active > span{
    color: #222;
    font-weight: 500;
}

.option-daily-sg__btn > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .option-daily-sg__btn{
        flex-direction: column;
        justify-content: start;
        gap: 4px;
        min-height: 112px;
        padding: 8px 4px;
    }

    .option-daily-sg__btn > span{
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 576px) {
    .daily-sg > .home-categories__title > strong{
        padding: 16px 20px;
    }

    .daily-sg__list-item {
        padding: 0 20px;
    }

    .option-daily-sg{
        padding: 0 20px;
    }
}
