.hot-deal{
    display: flex;
    flex-direction: column;
    background-color: #FEBD1C;
    border-radius: 8px;
    margin-bottom: 16px;
}

.hot-deal__swiper{
    padding: 10px;
}

.hot-deal__title > img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media only screen and (max-width: 576px) {
    .hot-deal{
        border-radius: unset;
        margin-bottom: 0;
    }

    .hot-deal__carousel .product-item-core{
        max-width: 240px;
        min-height: 480px;
    }

    .hot-deal__button-next,
    .hot-deal__button-prev{
        display: none;
    }

    .promo-brand-product__button-next,
    .promo-brand-product__button-prev{
        display: none;
    }
}