.option-promo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.option-promo__item {
    display: flex;
    align-items: center;
    min-height: 100px;
    flex: 1;
    height: auto;
    padding: 16px 0;
    border-radius: 12px;
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}

.option-promo__item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.option-promo__item-icon{
    height: 72px;
}

.option-promo__item-link > span{
    margin-left: 12px;
    color: #222;
    font-size: 22px;
    line-height: 28px;
    max-width: 70%;
}

@media only screen and (max-width: 1200px) {
    .option-promo__item {
        /* padding: 0; */
        box-shadow: none;
        min-height: 120px;
    }

    .option-promo__item-link {
        flex-direction: column;
        flex: 1;
        padding: 0;
    }

    .option-promo__item-link > span{
        min-width: 100%;
        margin-left: 0px;
        margin-top: 4px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .option-promo{
       align-items: flex-start;
    }

    .option-promo__item-link {
        flex-direction: column;
        justify-content: center;
        min-height: 100px;
    }

    .option-promo__item-link > span{
        min-width: 100%;
        margin-left: 0px;
        margin-top: 8px;
        font-size: 18px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .option-promo {
        gap: 12px;
    }

    .option-promo__item {
        min-width: 20%;
        padding: 0;
        background-color: unset;
    }

    .option-promo__item-icon{
        height: 60px;
    }

    .option-promo__item-link{
        justify-content: flex-start;
    }

    .option-promo__item-link > span{
        font-size: 12px;
        line-height: 16px;
    }
}