.promo-hbx{
    border: 6px solid #008847;
    border-top: 0;
    background: #008847;
    border-radius: 12px;
}

.promo-bhx__top{
    display: block;
    color: #fff;
    position: relative;
    font-size: 16px;
    background: #008847;
    padding: 16px 170px 16px 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.promo-bhx__dot-ani{
    background-color: #ffe66b;
    border-radius: 100%;
    display: block;
    left: 10px;
    height: 8px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    left: 16px;
    width: 8px;
}

.promo-bhx__dot-child{
    border: 1px solid #ffe66b;
    background-color: rgba(255,230,107,.2);
    border-radius: 100%;
    display: block;
    height: 8px;
    opacity: 1;
    animation: sonar 1.25s linear infinite;
    width: 8px;
}

.promo-bhx__banner{
    color: #fff200;
    display: flex;
    align-items: center;
    gap: 4px;
}

.promo-bhx__text::before{
    content: "•";
    margin: 0 6px;
}

.promo-bhx__note{
    font-style: italic;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.promo-bhx__more{
    position: absolute;
    margin: auto;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

.promo-bhx__more > a{
    color: #fff;
    display: flex;
    align-items: center;
}

.promo-bhx__more-img{
    height: 30px;
    width: 30px;
    margin-left: 4px;
}

@keyframes sonar {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(4);
        transform: scale(4);
        opacity: 0;
    }
}

.promo-bhx__body{
    display: flex;
    background-color: #008847;
    padding: 0 10px;
    gap: 12px;
}

.promo-bhx__voucher{
    background: #fefcea;
    padding: 6px 10px 32px 10px;
    position: relative;
    margin: 0px 0 0px 5px;
    border-radius: 3px;
}

.promo-bhx__product{
    width: 80%;
}


.promo-bhx__voucher-title{
    color: #3b864d;
    font-size: 15px;
    font-weight: 600;
    /* width: 200px; */
}

.promo-bhx__voucher-content{
    margin-bottom: 6px;
   
}

.promo-bhx__voucher-content input{
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid #008848;
    width: 100%;
    margin-top: 8px;
    clear: both;
    box-sizing: border-box;
    height: 32px;
    text-indent: initial;
    padding-left: 12px;
}

.promo-bhx__voucher-content button{
    width: 100%;
    height: 34px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #bdbdbd;
    color: #fff;
    margin-top: 9px;
    cursor: pointer;
}

.promo-bhx__voucher-content input:focus-visible{
    border: 1px solid #008848;
    outline: none;
}

.promo-bhx__voucher-note{
    color: #afafaf;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
}

.promo-bhx__carousel img{
    height: 302px;
    /* width: 180px; */
    border-radius: 0;
}

@media only screen and (max-width: 1400px) {
    .promo-bhx__product{
        width: 75%;
    }  
}

@media only screen and (max-width: 1200px) {
    .promo-bhx__product{
        width: 70%;
    }  
}

@media only screen and (max-width: 992px) {
    .promo-bhx__product{
        width: 65%;
    }  
}

@media only screen and (max-width: 768px) {
    .promo-bhx__product{
        width: 50%;
    }  

    .promo-bhx__text{
        display: none;
    }

    .promo-bhx__note{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .promo-hbx{
        margin-bottom: 16px;
    }
}
