.promo-brand{
    display: block;
    margin-bottom: 30px;
    padding-bottom: 1px;
    border-radius: 8px;
}

.promo-brand-samsung{
    background: #092dc6;
}

.promo-brand__title{
    display: block;
    padding: 24px 0;
    font-size: 44px;
    line-height: 40px;
    color: #fff;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.promo-brand__swiper-outstanding{
    padding: 8px 16px;
}

.promo-brand__swiper-product{
    padding: 8px 16px;
}

.promo-brand-outstanding__dot{
    display: none;
}

@media only screen and (max-width: 576px) {
    .promo-brand{
        margin-bottom: 0;
        border-radius: 0px;
    }

    .promo-brand__carousel-product .product-item-core{
        max-width: 240px;
        min-height: 480px;
    }

    .promo-brand-outstanding__dot{
        display: block;
    }
}