.shopping-trends{
    display: block;
    margin-bottom: 16px;
    background: linear-gradient(90deg,#ffecd2 0%,#fcb69f 100%);
    border-radius: 12px;
    overflow: hidden;
}

.shopping-trends__body{
    display: flex;
    gap: 12px;
    padding: 0 20px 32px;
    overflow: hidden;
}

.shopping-trends__item{
    position: relative;
    flex: 1;
}

.shopping-trends__item > a{
    display: block;
    overflow: hidden;
}

.shopping-trends__item-img{
    display: block;
    height: 236px;
    width: 100%;
}

.shopping-trends__item-name{
    position: absolute;
    bottom: 52px;
    left: 16px;
    display: inline-block;
    width: 70%;
    height: 20px;
    line-height: 18px;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}

.shopping-trends__item-sub{
    position: absolute;
    bottom: 24px;
    left: 16px;
    display: inline-block;
    width: 70%;
    height: 20px;
    line-height: 18px;
    overflow: hidden;
    font-size: 16px;
    color: #2f80ed;
    font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .shopping-trends__body{
        flex-wrap: wrap;
    }

    .shopping-trends__item{
        min-width: 45%;
    }
}

@media only screen and (max-width: 578px) {
    .shopping-trends{
        border-radius: unset;
        margin-bottom: 0;
    }
}